*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/.idea/*
/.idea/*.*
/app/.idea/
/app/.idea/*
/app/.idea/*.*
/app/gradle/wrapper/*.*
/app/local.properties
/app/gradlew
/app/gradlew.bat
/projectFilesBackup/
*.apk